.container {
  box-sizing: border-box;
  height: 85vh;
  /*width: 1000px;*/
  /*height: 1000px;*/
  outline: 1px solid darkgray;
  border: none;

  position: relative;

  overflow: hidden;
  user-select: none;
}

