.TransformProvingGround {
  box-sizing: border-box;
  height: 85vh;
  /*width: 1000px;*/
  /*height: 1000px;*/
  outline: 1px solid gray;
  border: none;

  position: relative;

  overflow: hidden;
}

.EventInfo {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}

