
.TimerInput {
  display: inline;
}

.TimerInput_input {
  width: 60px;
  font-family: inherit;
  font-size: inherit;
  border-radius: 4px;
  border-width: 1px;
}

.TimerInput_input.input-invalid {
  background-color: pink;
}
