.container {
  box-sizing: border-box;
  background-color: skyblue;
  position: relative;
}

.canvas,
.canvasOverlay{
  position: absolute;
  top: 0;
  left: 0;
}

.canvas {
  cursor: crosshair;
}

.canvasOverlay {
  cursor: crosshair;
  pointer-events: none;
  user-select: none;
  /*opacity: 0;*/
}

.info {
  position: absolute;
  width: 110px;
  height: 40px;
  padding: 5px;

  background-color: lightyellow;
  opacity: 80%;

  font-family: Menlo, "Courier New", monospace;
  font-size: 11px;
  text-align: end;

  pointer-events: none;
  user-select: none;
}

.infoForPath {
  composes: info;
  right: 0;
  top: 71px;
}

.infoForRect {
  composes: info;
  right: 0;
  top: 310px;
}

.infoForArrow {
  composes: info;
  right: 0;
  top: 500px;
}

.infoForCircle {
  composes: info;
  right: 0;
  top: 720px;
}

.marked {
  color: limegreen;
  font-weight: bold;
}

.result {
  padding-top: 850px;
}

.result li {
  padding-top: 7px;
}
